* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  
}

body {
  height: 100vh;
  text-rendering: optimizeSpeed;

  
}



/* #cursor-image {
    position: absolute;
    z-index: 999;
    display: none;
    width: 90px;
    margin-left: -1.5rem;
    margin-top: -1rem;
    pointer-events: none;
    overflow: hidden;
  } */

  

  .navbar2{
    width: 250px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #ffa500;
    transition: 0.4s;
    z-index: 999;
  }
  .navbar2 .navbar-nav{
   display: block;
    text-align: left;
    margin-left: 15%;
  }
  
  .nav-link{
    font-size: 1.25em;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
  }
  
  
  
  .dropdown-item:active,
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: #ffffff26;
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  
  /* for navbar */
  
  .active-nav {
    margin-left: 0;
  }
  
  
  /* for main section */
  
  .active-cont {
    margin-left: 250px;
  }
  
  #menu-btn {
    position:fixed;
    top: 0%;
    background-color: #ffa500;
    color: #fff;
    z-index: 999;
  }
  #menu-btn i{
    font-size: 25px;
    color: #ffffff;
  }
/************************************************ navbar *****************************************/

.navbar-nav {
  display: flex;
  text-align: left;
  margin-left: 15%;
}

.nav-link {
  font-size: 1.25em;
}

.my-container {
  transition: 0.4s;
}
.navbar-nav li a {
  font-size: 25px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}
.navbar h5 {
  font-size: 30px;
  font-weight: 700;
  color: #89570a;
  font-family: "Oswald", sans-serif;
}

/************************ end navbar ********************************/
header {
  height: 1000px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}

/************************ Hero Content ********************************/
.hero-page {
  display: flex;
  align-items: center;
  z-index: 999;
  height: 88%;
}
.hero-content{
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 99;
}
.desc-content h1 {
  background: -webkit-linear-gradient( #774f00,#d88c00, #774f00);background-clip: text;-webkit-text-fill-color: transparent;
  font-family: "Oswald", sans-serif;
  font-size: 55px;
  font-weight: 800;
 
}
.desc-content p {
  color: #152026;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}
.desc-content button {
  background-color: #ffa500; /* Green */
  border: none;
  border-radius: 15px;
  color: #152026;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.desc-content button:nth-child(2) {
  color: #152026;
  background-color: transparent;
  border: 1px solid #ffa500;
  transition: 0.5s;
}
.desc-content .btn-2:hover {
  color: #152026;
  background-image: linear-gradient(
    to right bottom,
    #fdbc04,
    #fda40b,
    #fa8c19,
    #f57424,
    #ec5c2e
  );
  transition: 0.5s;
}
.desc-content .btn-1:hover {
  color: #152026;
  background-image: linear-gradient(
    to right bottom,
    #fdbc04,
    #fda40b,
    #fa8c19,
    #f57424,
    #ec5c2e
  );
  transition: 0.5s;
}
.bee{
    display: flex;
    justify-content: center;
    position: relative;
   
}
.bee img{
    width: 100%;
    margin-top: -27rem;
    position: absolute;
    animation: moveUpDown 3s infinite;
}
@keyframes moveUpDown {
    0% {
      top: 0;
    }
    50% {
      top: 70px; /* Adjust the distance the image moves */
    }
    100% {
      top: 0;
    }
  }




/************************ end-Hero-Content ********************************/

.hex img{
  position: absolute;
  width: 110%;
  top: 40%;
  left:-2%;

}


/************************ Animated Background ********************************/

.box img {
  position: absolute;
}
.box div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: absolute;

}
.box div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(2) {
  top: 26%;
  left: 89%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(3) {
  top: 80%;
  left: 90%;
  animation: animate 5s linear infinite;
}
.box div:nth-child(4) {
  top: 65%;
  left: 75%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.box div:nth-child(7) {
  top: 70%;
  left: 33%;
  animation: animate 8s linear infinite;
}
.box div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(9) {
  top: 23%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(10) {
  top: 35%;
  left: 7%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(11) {
   margin-top: 100px;
    left: 50%;
    position: absolute;
    animation: moveUpDown 6s infinite;
  }
  .box div:nth-child(12) {
    margin-top: 500px;
     left: 10%;
     position: absolute;
     animation: moveUpDown 2s infinite;
   }
   .box div:nth-child(13) {
    margin-top: 45rem;
     left: 40%;
     position: absolute;
     animation: moveUpDown 5s infinite;
   }
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(50deg);
  }
  100% {
    transform: scale(1.6) translateY(-250px) rotate(360deg);
    opacity: 0;
  }
}




.timeline-section{
  height: 150%;
	padding: 100px 15px;
  overflow: hidden;
}
.timeline-section h1{
  text-align: center;
  z-index: 9999999999;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}
.hex-2{
  position: absolute;
  top: 145em;
  width: 1000px;
  left: -10px;
  z-index: -99;
 
}


                                               /* CHARTS */
                                               
                                               
.chart-section{
  height: 1000px;

}
.chart-section-2{
overflow: hidden;
display: flex;
height: 900px;
align-items: center;
width: 100%;
}
.chart-section img{
z-index: -99;
 position: absolute;
 overflow: hidden;
 width: 150rem;
top: 80rem;
}



.chart-heading {
  font-family: "Rubik", sans-serif;
  color: #023047;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}



.programming-stats {
  height: 500px;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
 
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: #023047;
  transition: all 400ms ease;
}

.programming-stats:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

.chart-container {
  position: relative;
  height: 300px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.legend-container {
 
  
  display: flex;
  flex-direction: column;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-color {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.legend-item span{
  font-size: 30px;
  width: 200px;

}




/* chart2 */
path {
  cursor: pointer;
}
.rightchart{
  display: flex;
  align-items: center;
}

.chart-heading{
 padding-top: 50px;
  font-size: 50px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

input {
  border: 1px dotted;
  width: 50%;
}
.chart-content{
  display: flex;
  background-color: #152026;
  height: 500px;
  align-items: center;
  border-radius: 10px;
}
#pieChart {
  /* border: red 1px dotted; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.text-container{
 color: #ffffff;
}





/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}

/*********************************** Header ********************************/
@media (max-width: 991px){
  .hero-page{
    padding-top: 200px;
  }
  .hero-page .hero-content{
    height: 1000px;
    display: flex;
    flex-direction: column;

  }
  .hero-page .desc-content{
    width: auto;
    text-align: center;
  }
  .hero-page h1{
    font-size: 50px;
  }
  .hero-page .bee{
    position: relative;
    top:40% ;
}
.hero-page .bee img{
  width: 400px;
}


}
@media (max-width: 767px) and (min-width:300px){
  .hero-page h1{
    font-size: 46px;
  }
  .hero-page .bee img{
    width: 395px;
  }
}

@media (max-width: 500px) and (min-width:300px){

  .hero-page .desc-content{
    width: auto;
    text-align: center;
  }
  .hero-page h1{
    font-size: 43px;
    text-align: left;
  }
  .hero-page .bee{
    position: relative;
    top:40% ;
}
.hero-page .bee img{
  width: 400px;
}


@media (max-width:391px) and (min-width:300px){
  .hero-page h1{
    font-size: 40px;
  }
}
}
@media (max-width: 414px) and (min-width:300px){
  .hero-page p{
    font-size: 15px;
  }
  
.hero-page .bee img{
  width: 350px;
}
}
/*********************************** Header ********************************/

/*********************************** Tokenomics ********************************/

@media screen and (max-width: 1000px) and (min-width:300px){
  .chart-section{
    height: auto;
  }
  .chart-section-2{
    height:1100px;
  padding-top: 0;
  }
  .main-chart{
    width: auto;
    display: block;
  
  }
  .chart-section .rightchart{
    width:auto;
  }
  .chart-section .leftchart{
    width: auto;
  }
  .my-chart{
    width: auto;
  }
  #pieChart {
    /* border: red 1px dotted; */
    width: 40%;
 
  }

}
@media screen and (max-width: 767px) {
  .chart-section-2{
    height: 1100px;
    align-items: center;
    display: flex;
  }
  .chart-section .rightchart .chart-content{
   display: flex;
   flex-direction: column;
    padding-top: 2em;
    margin-top: 2em;
   align-items: center;
   text-align: center;

  }
  
}
@media (max-width: 500px) and (min-width:300px){
  .chart-section-2{
    
    margin: auto;
  }
  .chart-section .rightchart .chart-content{
   display: flex;
   flex-direction: column;
    padding-top: 2em;
    margin-top: 2em;
   align-items: center;
   text-align: center;

  }
  .chart-section .rightchart{
    width:auto;
  }
  .chart-section .leftchart{
    width: auto;
  }
}